.logo {
    display: flex;
    padding: 12px 12px;
    align-items: center;
    justify-content: flex-start;
}

.logo > img {
    width: 30px;
    height: auto;
}

.logo > h1 {
    color: white;
    font-size: 20px;
    margin: 0;
    margin-left: 12px;
}
